
<div class="row">
  <div class="col-9"><h1 mat-dialog-title>¿Necesitas un molde para tu diseño?</h1></div>
  <div class="col">
    <button class="botonClose" mat-button mat-dialog-close [mat-dialog-close]=""><mat-icon>close</mat-icon></button>
  </div>
</div>

<div class="botons" mat-dialog-actions>
  <button class="botonCancel" mat-button mat-dialog-close [mat-dialog-close]="false">No, ya tengo un molde</button>
  <button class="botonOk" mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="true">Si, guíame</button>
</div>