table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .btnStyle{
    background-color: black;
    color: white;
  }
  .btnStyleFind{
    background-color: black;
    color: white;
  }

