<div class="row">
    <div class="col">
        <div class="row p-4">
            <div class="back col-1">
                <div class="col-lg-1" style="color: #A6A6A6;"><mat-icon style="cursor:pointer;" (click)="toBack()">keyboard_backspace</mat-icon></div>
            </div>
            <div class="text1 col">
                Añadir item
            </div>
        </div>
        <form [formGroup]="itemsForm">
            <div class="addItem p-4">
                <div class="row">
                    <div class="col">
                        <span>Campos para nuevo item</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre del item</mat-label>
                            <input matInput formControlName="nameItem" type="text">
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo item</mat-label>
                            <mat-select formControlName="tipoItem" (selectionChange)="listadoItems($event)">
                              <mat-option *ngFor="let item of items" [value]="item">
                                {{item.nombre}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <input type="file">
                    </div>
                </div>
                <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="listItem row example-viewport mt-3">
                    <form *ngIf="myForm" [formGroup]="myForm">
                    <div><span>Items</span></div>
                    <div class="m-3" *ngFor="let item of itemsList; let i = index"  style="height: 50px;">
                        <mat-form-field  appearance="outline">
                            <mat-label >
                                {{item.nombreVisual}}
                            </mat-label>
                            <input matInput [type]="item.tipoDato" [formControlName]="item.nombre" >
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="p-2">
                            Campos Adicionales
                        </div>
                        <div class="p-2" *ngFor="let item of camposAdicionales; let i = index">
                                {{item.nombre}} <mat-icon class="p-2" style="cursor: pointer;" (click)="borrarCampo(i)">delete</mat-icon>
                        </div>
                    </div>
                    </form>
                </cdk-virtual-scroll-viewport>
               
                <div class="addItemNew row" (click)="crearItem()">
                    Añadir caracteristica adicional
                </div>
            </div>

        </form>
        <div class="row buttons">
            <div class="col-3">
                <button class="botonCancel" mat-button (click)="toBack()">Cancelar</button>
            </div>
            <div class="col-3">
                <button class="botonOk" mat-button (click)="guardarItem()">Guardar</button>
            </div>
        </div>
    </div>
</div>