<div class=" row modalStyle">
    <form [formGroup]="cantProd">
        <div *ngIf="spinner" class="spinner-border text-dark" style="top: 99px !important;left: 97px !important;" role="status"></div>
        <div *ngIf="!spinner" class="col">
            <h1 mat-dialog-title>Nueva tarea</h1>
            <div class="row">
                <div class="col" style="margin:0 0 0 -11px;" mat-dialog-content>
                    Nombre de la tarea
                </div>
            </div>
            <div class="row text-center"  >
                <div class="col">
                    
                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <mat-select formControlName="nombreTarea" (selectionChange)="cambio($event)">
                            <mat-option *ngFor="let tarea of tareas" [value]="tarea">{{tarea.tipoMaquila}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                        
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin:0 0 0 -11px;" mat-dialog-content>
                    Costo
                </div>
            </div>
            <div class="row text-center"  >
                <div class="col">
                    <mat-form-field class="example-form-field" appearance="outline">
                        <mat-label>valor hora</mat-label>
                        <input readonly type="number" matInput formControlName="costoTarea">
                      </mat-form-field>
                        
                </div>
            </div>
            <div class="botons text-center">
                <button class="botonAnadir" mat-button [mat-dialog-close]="false">Cancelar</button>
                <button class="botonCancel" mat-button [mat-dialog-close]="cantProd.value" [disabled]="cantProd.invalid" cdkFocusInitial>Añadir</button>
            </div>
        </div>
    </form>
</div>