<div class="d-flex flex-column bd-highlight mb-3">
    <div class="image align-items-center">
        <mat-card class="example-card">
            <mat-card-header>
                <div class="d-flex flex-row">
                    <div class="p-2 bd-highlight titleRegistro">
                        <mat-icon style="cursor:pointer;" (click)="toBack()">keyboard_backspace</mat-icon>
                    </div>
                    <div class="p-2 bd-highlight" style="color:#000000;width: 90%;">
                        <span>
                            Registra tu empresa
                        </span>
                    </div>
                  </div>
            </mat-card-header>
            <mat-card-content>
                <form class="example-form" [formGroup]="createUser">
                    <mat-form-field
                      style="width:20rem;"
                      class="w-full"
                      appearance="outline"
                    >
                      <mat-label>Correo Electrónico</mat-label>
                      <input
                        type="user"
                        matInput
                        formControlName="user"
                        placeholder="usuario@palmana.com"
                      />
                    </mat-form-field>
                    <mat-form-field
                      style="width:20rem;"
                      class="w-full"
                      appearance="outline"
                      (keypress)="soloNumeros($event)"
                    >
                      <mat-label>Celular</mat-label>
                      <input
                        matInput
                        formControlName="celular"
                        placeholder="321456789"
                        (keypress)="restriccionNumber($event)"
                      />
                    </mat-form-field>
                    <mat-form-field
                      style="width:20rem;"
                      class="w-full"
                      appearance="outline"
                    >
                      <mat-label>Nombre legal de tu empresa</mat-label>
                      <input
                        matInput
                        formControlName="nombreEmpresa"
                        placeholder="***********"
                      />
                    </mat-form-field>
                    <mat-form-field
                      style="width:20rem;"
                      class="w-full"
                      appearance="outline"
                    >
                      <mat-label>Contraseña</mat-label>
                      <input
                        [type]="ocultarMostrarPassword"
                        matInput
                        formControlName="password"
                        placeholder="***********"
                      />
                      <mat-icon matSuffix (click)="cambiarTipo()" style="color:#000000;">{{
                        !showEnableBtnPwd ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </mat-form-field>
                    <div class="row">
                        <div class="col" style="margin:22px 0 30px 0;">
                            <div class="row">
                                <div class="col">
                                  <mat-radio-button class="example-margin" value="proveedor" (change)="radio($event)"></mat-radio-button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="color:#000000;" >Soy proveedor</div>
                            </div>
                        </div>
                        <div class="col" style="margin:22px 0 30px 0;">
                            <div class="row">
                                <div class="col">
                                    <mat-radio-button class="example-margin" value="productor" (change)="radio($event)"></mat-radio-button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="color:#000000;">Soy productor</div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <div class="row">
                            <div class="col-4 buttonRegistro">
                              <input type="checkbox" formControlName="check">
                            </div>
                            <div class="col-8 terminos">
                              <span style="color:#000000;">Leí los  <a style="cursor: pointer;" href="https://app.websitepolicies.com/policies/view/WT8Iqksb" target="_blank">
                                
                                terminos y condiciones
                              </a> 
                            </span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
                      <button type="submit" class="botonLogin" (click)="crearUsuario()" [disabled]="createUser.invalid" mat-flat-button>Registrar</button>
                    </div>
                    <div class="registro">
                        
                    </div>
                  </form>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="d-flex flex-row footer">
        <div style="color:white;width:60%;">
          <div class="d-flex flex-column footerIzq">
            <div class="chepaFooter"><span>CHELPA TEX</span> </div>
            <div class="conecFooter">Conectando la moda</div>
            <div>
              <div class="d-flex flex-row">
                <div>
                  <img class="icon" src="../../../../../assets/icons/iconFace.png">
                </div>
                <div>
                  <img class="icon" src="../../../../../assets/icons/iconInsta.png">
                </div>
                <div>
                  <img class="icon" src="../../../../../assets/icons/iconTwit.png">
                </div>
                <div><img class="icon" src="../../../../../assets/icons/iconln.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="color:white;width:20%;padding: 1rem 0 0 0;">
          <div class="d-flex flex-column">
            <div>Empresa</div>
            <div class="textFotIzq">Sobre Nosotros</div>
            <div class="textFotIzq">Contáctanos</div>
          </div>
        </div>
        <div style="color:white;width:20%;padding: 1rem 0 0 0;">
          <div class="d-flex flex-column">
            <div>Legal</div>
            <div class="textFotIzq">Términos y condiciones</div>
            <div class="textFotIzq">Política de Privacidad</div>
          </div>
        </div>
      </div>
</div>