<div class="row text-center">
    <span >Te sugerimos comprar estos moldes para tu diseño</span>
</div>

<div *ngIf="spinner" class="spinner-border text-dark" role="status"></div>

<div class="d-flex flex-column justify-content-center align-item-center">
    <div class="p-3 d-flex" style="width: 100%;">
        <cdk-virtual-scroll-viewport  appendOnly itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let molde of moldes" class="p d-flex mb-3" style="border:1px solid; border-radius: 19px;box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);">
            <div class="p d-flex flex-lg-column">
                <div class="p">
                    <img style="height: 237px;width: 161px; border-radius: 10px 0 0 0;" src="../../../../../../assets/images/modelE.png.png">
                </div>
            </div>
            <div class="p ms-5 d-flex flex-column" style="width: 90%;">
                <div class="p-2 d-flex mb-3">
                    <div class="p" style="font-size: 20px; font-weight: bold;">{{molde.nombre}}</div>
                    <div class="p ms-auto">${{molde.precio}}</div>
                </div>
                <div class="p d-flex flex-column justify-content-start align-items-start">
                    <div class="p" ><span style="font-weight: bold;">Ancho Tela:</span>  {{molde.anchoTela}}</div>
                    <div class="p" ><span style="font-weight: bold;">Consumo Total:</span>  {{molde.consumoTotal}}</div>
                    <div class="p" ><span style="font-weight: bold;">Tipo Produccion:</span>  {{molde.tipoProduccion}}</div>
                    <div class="p" ><span style="font-weight: bold;">Tipo Cascada:</span>  {{molde.tipoCascada}}</div>
                    <div class="p" ><span style="font-weight: bold;">Caracteristicas:</span>  {{(molde.caracteristicas ? molde.caracteristicas : '')}}</div>
                    <div class="p" style="margin: 16px 0;">
                        <a style="cursor: pointer; color: #1F619F;" href="https://www.google.com.co/"  target="_blank">
                            Descargar ficha tecnica
                        </a>
                    </div>
                </div>
                <div class="p d-flex justify-content-end align-items-end" style="height: 100%;">
                    <div (click)="seleccionarMolde(molde)" [ngClass]="{'seleccion': molde.selected}" class="col text-center" style="border: 1px solid;padding: 10px;border-radius: 0px 0 15px 0; cursor: pointer;">
                        <span class="pt-2" style="font-size: 20px;font-weight: bold;"> 
                            {{molde.selected ? 'Deseleccionar' : 'Añadir Molde'}}
                        </span>
                    </div>
                </div>

            </div>
        </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <div class="p d-flex justify-content-center align-item-center ">
        <div class="p-2"><button (click)="cancelar()" type="submit" class="botonCancelar" mat-flat-button>Cancelar</button></div>
        <div class="p-2"><button (click)="continuar()" type="submit" class="botonContinuar" mat-flat-button>Continuar</button></div>
    </div>
</div>

<!-- <div *ngIf="!spinner" class="row">
    <div *ngIf="validadorMoldes" class="col globalCard" xstyle="padding: 23px 100px 0 100p;">
        <cdk-virtual-scroll-viewport  appendOnly itemSize="50" class="example-viewport">
            <mat-card *cdkVirtualFor="let molde of moldes" class="contentCard" >
                <mat-card-content >
                    <div class="row ">
                        <div class="col-1" style="width: auto;">
                            <img style="height: 237px;width: 161px;" src="../../../../../../assets/images/modelE.png.png">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-end">
                                            <span style="font-size: 20px;">
                                                {{molde.nombre}}
                                            </span>
                                        </div>
                                        <div class="col text-end">
                                            <span style="font-weight: bold;">
                                                ${{molde.precio}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row"> 
                                            <div class="col-4"><b> Ancho Tela: </b> </div>
                                            <div class="col">{{molde.anchoTela}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b> Consumo Total: </b>
                                            </div>
                                            <div class="col">
                                                {{molde.consumoTotal}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b>Tipo Produccion:</b>
                                            </div>
                                            <div class="col">
                                                {{molde.tipoProduccion}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b>Tipo Cascada:</b>
                                            </div>
                                            <div class="col">
                                                {{molde.tipoCascada}}
                                            </div>
                                                 
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b>Caracteristicas: </b>
                                            </div>
                                            <div class="col">
                                                {{(molde.caracteristicas ? molde.caracteristicas : '')}}
                                            </div>
                                               
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <a style="cursor: pointer; color: #1F619F;" href="https://www.google.com.co/"  target="_blank">
                                        Descargar ficha tecnica
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="border: 1px solid;margin-left:11px;width: 162px;">
                            <div class="row">
                                <div class="col">
                                    <div >
                                        <button (click)="contarMas()" mat-icon-button aria-label="Example icon-button with a heart icon">
                                          <span style="color:#37833B;">+</span>
                                        </button>
                                      </div>
                                </div>
                                <div class="col mt-2">
                                    {{contador}}
                                </div>
                                <div class="col">
                                    <div>
                                        <button (click)="contarMenos()" mat-icon-button aria-label="Example icon-button with a heart icon">
                                          <span style="color:#C8372D;border-radius: 50%;">-</span>
                                        </button>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div (click)="seleccionarItem(molde)" [ngClass]="{'seleccionado': seleccion === 'Seleccionar y añadir al carrito', 'seleccion':seleccion === 'No seleccionar'}" class="col text-center" style="border: 1px solid">
                            <span class="pt-2" style="font-size: 20px;font-weight: bold;"> 
                                {{seleccion}}
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </cdk-virtual-scroll-viewport>
    </div>
    
    <div *ngIf="!validadorMoldes" class="row example-viewport">
        <div class="col">
            No hay moldes para mostrar
        </div>
    </div>
</div>

<div *ngIf="!spinner" class="row">
    <div class="col text-center">
        <button (click)="cancelar()" type="submit" class="botonCancelar" mat-flat-button>Cancelar</button>
    </div>
    <div class="col text-center">
        <button (click)="continuar()" type="submit" class="botonContinuar" mat-flat-button>Continuar</button>
    </div>
</div> -->


